<div class="mega">
    <div class="mega-wrap">
        <h2>Не понимаете как прибыльно торговать на Wildberries, считать финансы и управлять рекламой?</h2>
        <div class="mega-blocks">
            <div class="mega-text">
                Увеличим вашу прибыль на Wildberries с гарантией по договору!

                Команда с опытом работы в кабинетах с выручкой 2 млрд в год
                Собственный бренд на 2 млн чистой прибыли
                Создаем технологии и методики которыми пользуются десятки тысяч селлеров
            </div>
            <div class="mega-img">
                <img src="" alt="">
            </div>
        </div>
        <div class="mega-bottom">
            Поможем вам разобраться в продвижении на Wildberries, увеличим прибыль и освободим вас от операционной деятельности.
        </div>
    </div>
</div>