<div class="arrange">
    <div class="arrange-title">Что мы делаем</div>
    <div class="arrange-wrap">
        <div class="arrange__block">

            <div class="arrange__block-img">
                <img src="../img/fi_5506489.svg" alt="">
            </div>

            <div class="arrange__block-text">Подсветка объектов любой сложности</div>
        </div>
        <div class="arrange__block">

            <div class="arrange__block-img">
                <img src="../img/fi_4961619.svg" alt="">
            </div>

            <div class="arrange__block-text">Полный цикл работ "под ключ" От проекта до монтажа</div>
        </div>
        <div class="arrange__block">
            <div class="arrange__block-img">
                <img src="../img/fi_3656900.svg" alt="">
            </div>


            <div class="arrange__block-text">Бесплатная визуализация освещения</div>
        </div>
        <div class="arrange__block">

            <div class="arrange__block-img">
                <img src="../img/fi_10382162.svg" alt="">
            </div>

            <div class="arrange__block-text">Индивидуальный подбор оборудования</div>
        </div>

    </div>
</div>