.arrange{
  @include container();
  @include padding-vertical-30();
  .arrange-title{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    padding: 30px 0;
    position: relative;
    margin-bottom: 30px;
    &:after{
      content: "";
      width: 70px;
      height: 1px;
      display: inline-block;
      position: absolute;
      bottom: 10px;
      left: calc(50% - 35px);
      background-color: #61C67E;
    }
    &:before{
      content: "";
      width: 50px;
      height: 1px;
      display: inline-block;
      position: absolute;
      bottom: 5px;
      left: calc(50% - 25px);
      background-color: #61C67E;
    }
  }
  .arrange-wrap{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    .arrange__block{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 15%;
      .arrange__block-img{
        position: relative;
        padding: 20px;
        span{
          font-size: 14px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      img{
        width: 40px;
      }
      .arrange__block-text {
        font-size: 16px;
        line-height: 24px;

        &:after {
          content: "";
          width: 50%;
          height: 2px;
          display: inline-block;
          position: absolute;
          color: black;
          top: 45px;
          left: calc(100% - 1rem);
          font-size: 14px;
          background: linear-gradient(90deg, rgba(97, 198, 126, 0) 0%, #61C67E 50%, rgba(97, 198, 126, 0) 100%);
        }
      }

    }
    .arrange__block:nth-child(5){

      .arrange__block-text {
        &:after{
          display: none;
        }
      }
      }
  }
}

@media #{$mobile-only-two} {
  .arrange {
    .arrange-wrap {
      display: flex;
      flex-wrap: wrap;
      .arrange__block {
        width: 100%;
        margin-bottom: 50px;
        .arrange__block-text {
          width: 50%;


          &:after {
            content: "";
            width: 2px;
            height: 50px;
            display: inline-block;
            position: absolute;
            color: black;
            top: 110%;
            left: 50%;
            font-size: 14px;
            background: linear-gradient( rgba(97, 198, 126, 0) 0%, #61C67E 50%, rgba(97, 198, 126, 0) 100%);
          }
        }
      }
    }
  }

}