<div class="arrange">
    <div class="arrange-title">Как оформить заказ</div>
    <div class="arrange-wrap">
        <div class="arrange__block">

            <div class="arrange__block-img">
                <span>01</span>
                <img src="../img/docdoc.svg" alt="">
            </div>

            <div class="arrange__block-text">Заполнить заявку у нас на сайте</div>
        </div>
        <div class="arrange__block">

            <div class="arrange__block-img">
                <span>01</span>
                <img src="../img/docdoc.svg" alt="">
            </div>

            <div class="arrange__block-text">Заполнить заявку у нас на сайте</div>
        </div>
        <div class="arrange__block">

            <div class="arrange__block-img">
                <span>01</span>
                <img src="../img/docdoc.svg" alt="">
            </div>

            <div class="arrange__block-text">Заполнить заявку у нас на сайте</div>
        </div>
        <div class="arrange__block">

            <div class="arrange__block-img">
                <span>01</span>
                <img src="../img/docdoc.svg" alt="">
            </div>

            <div class="arrange__block-text">Заполнить заявку у нас на сайте</div>
        </div>
        <div class="arrange__block">

            <div class="arrange__block-img">
                <span>01</span>
                <img src="../img/docdoc.svg" alt="">
            </div>

            <div class="arrange__block-text">Заполнить заявку у нас на сайте</div>
        </div>
    </div>
</div>