.upper{
  @include container();
  @include padding-vertical-30();
  .upper-wrap{
    display: flex;
    gap: 5rem;
    .upper__block{
      width: 50%;
    }
  }
}
@media #{$mobile-only-two} {
  .upper{

    .upper-wrap{
      flex-wrap: wrap;
      gap: 2rem;
      .upper__block{
        width: 100%;
      }
    }
  }
}