<div class="advantage">
    <div class="title-left">Преимущества сотрудничества с нашей организацией</div>
    <div class="advantage-wrap">
            <div class="advantage__block">
                <div class="advantage__block-number">01</div>
                <div class="advantage__block-title">Подлинность обеспечивается на 100%</div>
                <div class="advantage__block-content">Печать документов в обязательном порядке реализуется на бланках
                    государственного образца. Даже придирчивые ревизоры не смогут найти несоответствия.</div>


            </div>
        <div class="advantage__block">
            <div class="advantage__block-number">01</div>
            <div class="advantage__block-title">Подлинность обеспечивается на 100%</div>
            <div class="advantage__block-content">Печать документов в обязательном порядке реализуется на бланках
                государственного образца. Даже придирчивые ревизоры не смогут найти несоответствия.</div>


        </div>
        <div class="advantage__block">
            <div class="advantage__block-number">01</div>
            <div class="advantage__block-title">Подлинность обеспечивается на 100%</div>
            <div class="advantage__block-content">Печать документов в обязательном порядке реализуется на бланках
                государственного образца. Даже придирчивые ревизоры не смогут найти несоответствия.</div>


        </div>
        <div class="advantage__block">
            <div class="advantage__block-number">01</div>
            <div class="advantage__block-title">Подлинность обеспечивается на 100%</div>
            <div class="advantage__block-content">Печать документов в обязательном порядке реализуется на бланках
                государственного образца. Даже придирчивые ревизоры не смогут найти несоответствия.</div>


        </div>
    </div>
</div>