
<div class="slaidering">
    <div class="slaidering-wrap">
        <div class="slaidering__blocks">
            <div class="slaidering__block">
                <div class="slaidering__block-title arrange-title-left">Архитектурно художественная подсветка зданий</div>
                <div class="slaidering__block-text">Создает уникальный образ архитектурной композиции и выделяет значимые объекты светом.
                    Таким образом освещают фасады административные здания,
                    памятники, торгово-развлекательные центры, бизнес-центры,
                    рестораны и, конечно, частные дома. С помощью светильников на
                    фасаде можно сделать любое сооружение индивидуальным, и придать интересный вид,
                    даже если оно построено по типовому проекту.</div>
            </div>
            <div class="slaidering__block">
                <div class=" swiperslaidering">
                    <div class="swiper-wrapper">
                        <div class="swiperslaidering__block swiper-slide">
                            <div class="swiperslaidering__block-img">
                                <img src="../img/slaider1.png" alt="">
                            </div>
                        </div>
                        <div class="swiperslaidering__block swiper-slide">
                            <div class="swiperslaidering__block-img">
                                <img src="../img/slaider1.png" alt="">
                            </div>
                        </div>
                        <div class="swiperslaidering__block swiper-slide">
                            <div class="swiperslaidering__block-img">
                                <img src="../img/slaider1.png" alt="">
                            </div>
                        </div>
                        <div class="swiperslaidering__block swiper-slide">
                            <div class="swiperslaidering__block-img">
                                <img src="../img/slaider1.png" alt="">
                            </div>
                        </div>

                    </div>
                    <div class="swiperslaidering-buttons">
                        <div class="swiperslaidering-button-prev"><img src="../img/down-arrow-right.svg" alt=""></div>
                        <div class="swiperslaidering-button-next"><img src="../img/down-arrow-left.svg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slaidering">
    <div class="slaidering-wrap">
        <div class="slaidering__blocks">
            <div class="slaidering__block">
                <div class="slaidering__block-title arrange-title-left">Архитектурно художественная подсветка зданий</div>
                <div class="slaidering__block-text">Создает уникальный образ архитектурной композиции и выделяет значимые объекты светом.
                    Таким образом освещают фасады административные здания,
                    памятники, торгово-развлекательные центры, бизнес-центры,
                    рестораны и, конечно, частные дома. С помощью светильников на
                    фасаде можно сделать любое сооружение индивидуальным, и придать интересный вид,
                    даже если оно построено по типовому проекту.</div>
            </div>
            <div class="slaidering__block">
                <div class=" swiperslaidering">
                    <div class="swiper-wrapper">
                        <div class="swiperslaidering__block swiper-slide">
                            <div class="swiperslaidering__block-img">
                                <img src="../img/slaider1.png" alt="">
                            </div>
                        </div>
                        <div class="swiperslaidering__block swiper-slide">
                            <div class="swiperslaidering__block-img">
                                <img src="../img/slaider1.png" alt="">
                            </div>
                        </div>
                        <div class="swiperslaidering__block swiper-slide">
                            <div class="swiperslaidering__block-img">
                                <img src="../img/slaider1.png" alt="">
                            </div>
                        </div>
                        <div class="swiperslaidering__block swiper-slide">
                            <div class="swiperslaidering__block-img">
                                <img src="../img/slaider1.png" alt="">
                            </div>
                        </div>

                    </div>
                    <div class="swiperslaidering-buttons">
                        <div class="swiperslaidering-button-prev"><img src="../img/down-arrow-right.svg" alt=""></div>
                        <div class="swiperslaidering-button-next"><img src="../img/down-arrow-left.svg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slaidering">
    <div class="slaidering-wrap">
        <div class="slaidering__blocks">
            <div class="slaidering__block">
                <div class="slaidering__block-title arrange-title-left">Архитектурно художественная подсветка зданий</div>
                <div class="slaidering__block-text">Создает уникальный образ архитектурной композиции и выделяет значимые объекты светом.
                    Таким образом освещают фасады административные здания,
                    памятники, торгово-развлекательные центры, бизнес-центры,
                    рестораны и, конечно, частные дома. С помощью светильников на
                    фасаде можно сделать любое сооружение индивидуальным, и придать интересный вид,
                    даже если оно построено по типовому проекту.</div>
            </div>
            <div class="slaidering__block">
                <div class=" swiperslaidering">
                    <div class="swiper-wrapper">
                        <div class="swiperslaidering__block swiper-slide">
                            <div class="swiperslaidering__block-img">
                                <img src="../img/slaider1.png" alt="">
                            </div>
                        </div>
                        <div class="swiperslaidering__block swiper-slide">
                            <div class="swiperslaidering__block-img">
                                <img src="../img/slaider1.png" alt="">
                            </div>
                        </div>
                        <div class="swiperslaidering__block swiper-slide">
                            <div class="swiperslaidering__block-img">
                                <img src="../img/slaider1.png" alt="">
                            </div>
                        </div>
                        <div class="swiperslaidering__block swiper-slide">
                            <div class="swiperslaidering__block-img">
                                <img src="../img/slaider1.png" alt="">
                            </div>
                        </div>

                    </div>
                    <div class="swiperslaidering-buttons">
                        <div class="swiperslaidering-button-prev"><img src="../img/down-arrow-right.svg" alt=""></div>
                        <div class="swiperslaidering-button-next"><img src="../img/down-arrow-left.svg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slaidering">
    <div class="slaidering-wrap">
        <div class="slaidering__blocks">
            <div class="slaidering__block">
                <div class="slaidering__block-title arrange-title-left">Архитектурно художественная подсветка зданий</div>
                <div class="slaidering__block-text">Создает уникальный образ архитектурной композиции и выделяет значимые объекты светом.
                    Таким образом освещают фасады административные здания,
                    памятники, торгово-развлекательные центры, бизнес-центры,
                    рестораны и, конечно, частные дома. С помощью светильников на
                    фасаде можно сделать любое сооружение индивидуальным, и придать интересный вид,
                    даже если оно построено по типовому проекту.</div>
            </div>
            <div class="slaidering__block">
                <div class=" swiperslaidering">
                    <div class="swiper-wrapper">
                        <div class="swiperslaidering__block swiper-slide">
                            <div class="swiperslaidering__block-img">
                                <img src="../img/slaider1.png" alt="">
                            </div>
                        </div>
                        <div class="swiperslaidering__block swiper-slide">
                            <div class="swiperslaidering__block-img">
                                <img src="../img/slaider1.png" alt="">
                            </div>
                        </div>
                        <div class="swiperslaidering__block swiper-slide">
                            <div class="swiperslaidering__block-img">
                                <img src="../img/slaider1.png" alt="">
                            </div>
                        </div>
                        <div class="swiperslaidering__block swiper-slide">
                            <div class="swiperslaidering__block-img">
                                <img src="../img/slaider1.png" alt="">
                            </div>
                        </div>

                    </div>
                    <div class="swiperslaidering-buttons">
                        <div class="swiperslaidering-button-prev"><img src="../img/down-arrow-right.svg" alt=""></div>
                        <div class="swiperslaidering-button-next"><img src="../img/down-arrow-left.svg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>