<div class="company">
    <div class="company-wrap">
        <div class="company-blocks">
            <div class="company-blocks__count">
                <div class="company-blocks__count-wrap">
                <p>403 млн.р <br><span>[ выручка наших клиентов за ноябрь 2023 ]</span></p>
                <p>10+ <br><span>[проектов на ведении ]</span></p>
                <p>+500% <br><span>[ Мы сделали значительно успешными]</span></p>
                <p>15 команд <br><span>рекорд выручки у нашего клиента - лидера ниши одежды]</span></p>
                <p>7 <br><span>[человек в команде]</span></p>
                <p>4 <br><span>[ Мы сделали значительно успешными]</span></p>
                </div>


            </div>
            <div class="company-blocks__text">
                <h2>О компании</h2>
                <p>Мы продаем товары на Wildberries с 2021 года.
                    В процессе развития собственных магазинов мы получили
                    весомый опыт и достойные результаты. Научились видеть ВБ
                    под другим углом и изобрели собственные технологии продвижения.</p>
                <div class="company-bottoms">
                    <div class="company-bottom">
                        Итогом стало комплексная поддержка поставщиков любого уровня,
                        как в выходе на ВБ, так и в развитии продаж. Консалтинг бизнеса на Вайлдберриз
                    </div>
                    <div class="company-bottom">
                        Итогом стало комплексная поддержка поставщиков любого уровня,
                        как в выходе на ВБ, так и в развитии продаж. Консалтинг бизнеса на Вайлдберриз
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>