
.simple{
  .title-left{
    padding-top: 10px;
  }
  .simple-buttons{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 30px 0;
    .btn-standart{
      height: 70px;
      width: calc(50% - 1rem);
    }
  }
}
