<div class="professor">
    <div class="professor-wrap">
        <div class="professor-img">
            <img src="../img/professor.png" alt="">
        </div>
        <div class="professor-buttons">
            <div class="btn-standart">
                <img src="../img/palech.svg" alt="">
                Заказать диплом
            </div>
            <div class="btn-standart">
                <img src="../img/prodoc.svg" alt="">
                Проверка дипломов
            </div>

        </div>
    </div>
</div>