.professor{
  @include container();
  @include padding-vertical-30();
  .professor-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    .professor-buttons{
      display: flex;
      gap: 2rem;
      margin-top: 20px;
      .btn-standart{
        img{
          padding-right: 20px;
        }
        width: 365px;
        height: 70px;
      }

    }
  }

}
@media #{$mobile-only-two} {
  .professor{

    .professor-wrap{
     .professor-img{
       width: 100%;
       img{
         width: 100%;
       }
     }
      .professor-buttons{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 20px;

        width: 100%;
        .btn-standart{
          width: 100%;
          height: 70px;
        }

      }
    }

  }
}