<div class="objects">
    <div class="arrange-title">Объекты которые мы украшаем</div>
    <div class="objects-wrap">
        <div class="objects__block">
            <div class="objects__block-img">
                <img src="../img/obj1.png" alt="">
            </div>

            <div class="object-text">
                Оформление фасадов частных домов и коттеджей
            </div>
            <div class="object-href">
                <a href="">Заказать проект</a>
            </div>
        </div>
        <div class="objects__block">
            <div class="objects__block-img">
                <img src="../img/obj1.png" alt="">
            </div>

            <div class="object-text">
                Оформление фасадов частных домов и коттеджей
            </div>
            <div class="object-href">
                <a href="">Заказать проект</a>
            </div>
        </div>
        <div class="objects__block">
            <div class="objects__block-img">
                <img src="../img/obj1.png" alt="">
            </div>

            <div class="object-text">
                Оформление фасадов частных домов и коттеджей
            </div>
            <div class="object-href">
                <a href="">Заказать проект</a>
            </div>
        </div>
        <div class="objects__block">
            <div class="objects__block-img">
                <img src="../img/obj1.png" alt="">
            </div>

            <div class="object-text">
                Оформление фасадов частных домов и коттеджей
            </div>
            <div class="object-href">
                <a href="">Заказать проект</a>
            </div>
        </div>
        <div class="objects__block">
            <div class="objects__block-img">
                <img src="../img/obj1.png" alt="">
            </div>

            <div class="object-text">
                Оформление фасадов частных домов и коттеджей
            </div>
            <div class="object-href">
                <a href="">Заказать проект</a>
            </div>
        </div>
    </div>
</div>