.objects{
  @include container();
  @include padding-vertical-30();
  .objects-wrap{
    display: flex;
    gap: 3rem;
    .objects__block{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 16px;
      font-weight: 500;
      line-height: 18.88px;
      text-align: center;
      .objects__block-img{
        img{
          width: 100%;
        }
      }
      .object-href{
        a{
          line-height: 18.88px;
          color: #1B825A;
        }
      }
    }
  }

}
@media #{$mobile-only-two}{
  .objects {
    .objects-wrap {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: center;
      .objects__block {
        width: calc(50% - 1rem);
      }
    }
  }
}
@media #{$tablet-all-only}{
  .objects {
    .objects-wrap {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      justify-content: center;
      .objects__block {
        width: calc((100% / 3) - 2rem );
      }
    }
  }
}

