<div class="analize">
    <h2>ПОЛУЧИТЕ БЕСПЛАТНЫЙ РАЗБОР ВАШЕГО МАГАЗИНА</h2>
    <div class="analize-wrap">
        <div class="analize__block">
            <img src="../img/men.png" alt="">
            <div class="analize-text">
                Найдем способы увеличить обороты
            </div>
        </div>
        <div class="analize__block">
            <img src="../img/men.png" alt="">
            <div class="analize-text">
                Найдем способы увеличить обороты
            </div>
        </div>
        <div class="analize__block">
            <img src="../img/men.png" alt="">
            <div class="analize-text">
                Найдем способы увеличить обороты
            </div>
        </div>
        <div class="analize__block">
            <img src="../img/men.png" alt="">
            <div class="analize-text">
                Найдем способы увеличить обороты
            </div>
        </div>
    </div>
    <div class="analize-button middle__button">
        <a href="">получить анализ роста</a>
    </div>
</div>
