<div class="diploms">
    <div class="diploms-wrap">
        <div class="diploms-blocks">
            <div class="diploms-blocks__block">
                <div class="diploms-blocks__main">
                    <h1> Мы получили дипломы – <br><span>теперь ваша очередь!</span></h1>
                </div>

                <ul>
                    <li>Абсолютная конфиденциальность данных</li>
                    <li>Настоящие, подлинные оригиналы ГОЗНАК</li>
                    <li>Любые проверки на подлинность</li>
                    <li>Бланки не числятся в реестрах утерянных или утилизированных</li>
                    <li>Работаем практически по всем ВУЗам и регионам России</li>
                </ul>

                <div class="btn-standart">Заказать документ</div>
            </div>
            <div class="diploms-blocks__block">

                <img src="../img/girl-diplom.png" alt="">
            </div>
        </div>
    </div>

</div>