<div class="diploms">
    <div class="diploms-wrap">
        <div class="diploms-blocks">
            <div class="diploms-blocks__block">
                <div class="diploms-blocks__main">
                    <h1> Мы получили дипломы – <br><span>теперь ваша очередь!</span></h1>
                </div>

                <ul>
                    <li>Абсолютная конфиденциальность данных</li>
                    <li>Настоящие, подлинные оригиналы ГОЗНАК</li>
                    <li>Любые проверки на подлинность</li>
                    <li>Бланки не числятся в реестрах утерянных или утилизированных</li>
                    <li>Работаем практически по всем ВУЗам и регионам России</li>
                </ul>

                <div class="btn-standart">Заказать документ</div>
            </div>
            <div class="diploms-blocks__block">

                <img src="../img/girl-diplom.png" alt="">
            </div>
            <div class="diploms-blocks__block">
                <a class="diploms-blocks-phone">+7 (916) 777-34-97</a>
                <div class="header-middle__social">
                    <img src="../img/whatsapp.svg" alt="">
                    <img class="tg" src="../img/Telegram_logo 1.svg" alt="">

                </div>
                <div class="btn-standart  btn-standart-show">Заказать документ</div>
            </div>
        </div>
    </div>

</div>