<div class="success-swiper">
    <h2>Магазины, которые уже ощутили результаты работы с нами</h2>
    <div class="success-wrap">


        <div class="swipersuccess">
            <div class="swiper-wrapper">
                {#            <?php while (have_rows('swipesl')) : the_row(); ?> #}
                <div class="swiper-slide">
                    <div class="swiper-slide2">
                        <div class="swiper-slide-top">
                            <div class="swiper-slide-top__title">
                                <div>Название компании</div>
                                <div>Деятельность</div>
                            </div>
                            <div class="swiper-slide-top__cont">
                                <div>1 млн -> 10 млн <span>Достижение</span></div>
                                <div>1 млн -> 10 млн <span>Достижение</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide-bottom">
                            <ul>
                                <li>
                                    Провели аудит контента: протестировали замену контента через вендор
                                </li>
                                <li>
                                    Провели аудит контента: протестировали замену контента через вендор
                                </li>
                                <li>
                                    Провели аудит контента: протестировали замену контента через вендор
                                </li>
                                <li>
                                    Провели аудит контента: протестировали замену контента через вендор
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide2">
                        <div class="swiper-slide-top">
                            <div class="swiper-slide-top__title">
                                <div>Название компании</div>
                                <div>Деятельность</div>
                            </div>
                            <div class="swiper-slide-top__cont">
                                <div>1 млн -> 10 млн <span>Достижение</span></div>
                                <div>1 млн -> 10 млн <span>Достижение</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide-bottom">
                            <ul>
                                <li>
                                    Провели аудит контента: протестировали замену контента через вендор
                                </li>
                                <li>
                                    Провели аудит контента: протестировали замену контента через вендор
                                </li>
                                <li>
                                    Провели аудит контента: протестировали замену контента через вендор
                                </li>
                                <li>
                                    Провели аудит контента: протестировали замену контента через вендор
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide2">
                        <div class="swiper-slide-top">
                            <div class="swiper-slide-top__title">
                                <div>Название компании</div>
                                <div>Деятельность</div>
                            </div>
                            <div class="swiper-slide-top__cont">
                                <div>1 млн -> 10 млн <span>Достижение</span></div>
                                <div>1 млн -> 10 млн <span>Достижение</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide-bottom">
                            <ul>
                                <li>
                                    Провели аудит контента: протестировали замену контента через вендор
                                </li>
                                <li>
                                    Провели аудит контента: протестировали замену контента через вендор
                                </li>
                                <li>
                                    Провели аудит контента: протестировали замену контента через вендор
                                </li>
                                <li>
                                    Провели аудит контента: протестировали замену контента через вендор
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide2">
                        <div class="swiper-slide-top">
                            <div class="swiper-slide-top__title">
                                <div>Название компании</div>
                                <div>Деятельность</div>
                            </div>
                            <div class="swiper-slide-top__cont">
                                <div>1 млн -> 10 млн <span>Достижение</span></div>
                                <div>1 млн -> 10 млн <span>Достижение</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide-bottom">
                            <ul>
                                <li>
                                    Провели аудит контента: протестировали замену контента через вендор
                                </li>
                                <li>
                                    Провели аудит контента: протестировали замену контента через вендор
                                </li>
                                <li>
                                    Провели аудит контента: протестировали замену контента через вендор
                                </li>
                                <li>
                                    Провели аудит контента: протестировали замену контента через вендор
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide2">
                        <div class="swiper-slide-top">
                            <div class="swiper-slide-top__title">
                                <div>Название компании</div>
                                <div>Деятельность</div>
                            </div>
                            <div class="swiper-slide-top__cont">
                                <div>1 млн -> 10 млн <span>Достижение</span></div>
                                <div>1 млн -> 10 млн <span>Достижение</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide-bottom">
                            <ul>
                                <li>
                                    Провели аудит контента: протестировали замену контента через вендор
                                </li>
                                <li>
                                    Провели аудит контента: протестировали замену контента через вендор
                                </li>
                                <li>
                                    Провели аудит контента: протестировали замену контента через вендор
                                </li>
                                <li>
                                    Провели аудит контента: протестировали замену контента через вендор
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {#            <?php endwhile; ?> #}
            </div>

            <div class="swipersuccess-buttons">
                <div class="swipersuccess-button-prev">назад</div>
                <div class="swipersuccess-pagination"></div>
                <div class="swipersuccess-button-next">вперед</div>
            </div>

        </div>
    </div>
</div>