<div class="confirm">
    <div class="confirm-wrap">
        <form action="">
            <div class="item">
                <label for="name">Выберите нужный Вам документ</label>
                <input type="text" name="name" id="name" placeholder="Ваше имя">
            </div>
            <div class="item">
                <label for="name">Выберите нужный Вам документ</label>
                <input type="text" name="name" id="name" placeholder="Ваше имя">
            </div>
            <div class="item">
                <label for="name">Выберите нужный Вам документ</label>
                <input type="text" name="name" id="name" placeholder="Ваше имя">
            </div>
            <div class="item">
                <label for="name">Выберите нужный Вам документ</label>
                <input type="text" name="name" id="name" placeholder="Ваше имя">
            </div>
            <div class="item">
                <label for="diplom">Выберите диплом</label>
                <select name="diplom" id="diplom" >
                    <option selected>Выбрать диплом</option>
                </select>
            </div>
            <div class="item item-comment">
                <label for="comment">Другая информация</label>
                <textarea name="comment" id="comment" >Пожелания по оценкам и другая информация...</textarea>
            </div>
            <div class="confirm-form-bottom">
                    <input class="btn-standart" type="submit" value="ЗАКАЗАТЬ ДИПЛОМ">
            </div>
        </form>
    </div>
</div>
