<div class="main-content">

    <div class="main-content-wrap">
        <div class="main-content-blocks">
            <div class="main-content-left">
                <div class="main-content-filter">
                    <div class="main-content-filter__top ">
                        <div>Высшее образование</div>
                        <div class="main-content-filter__top-img">
                            <img src="../img/arrow-down.svg" alt="">
                            <img src="../img/arrow-up.svg" alt="">
                        </div>

                    </div>
                    <div class="main-content-filter__top-list ">
                        <ul>
                            <li><a href="">Диплом о высшем образовании</a></li>
                            <li><a href="">Диплом о высшем образовании</a></li>
                            <li><a href="">Диплом о высшем образовании</a></li>
                            <li><a href="">Диплом о высшем образовании</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main-content-filter">
                    <div class="main-content-filter__top  main-content-filter__top_open">
                        <div>Высшее образование</div>
                        <div class="main-content-filter__top-img">
                            <img src="../img/arrow-down.svg" alt="">
                            <img src="../img/arrow-up.svg" alt="">
                        </div>

                    </div>
                    <div class="main-content-filter__top-list main-content-filter__top-list_show">
                        <ul>
                            <li><a href="">Диплом о высшем образовании</a></li>
                            <li><a href="">Диплом о высшем образовании</a></li>
                            <li><a href="">Диплом о высшем образовании</a></li>
                            <li><a href="">Диплом о высшем образовании</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main-content-filter main-content-filter-href">
                    <div class="main-content-filter__top  main-content-filter__top_open">
                        <div>Высшее образование</div>
                        <div class="main-content-filter__top-img">
                            <img src="../img/arrow-down.svg" alt="">
                            <img src="../img/arrow-up.svg" alt="">
                        </div>

                    </div>
                    <div class="main-content-filter__top-list main-content-filter__top-list_show">
                        <ul>
                            <li><a href="">Диплом о высшем образовании</a></li>
                            <li><a href="">Диплом о высшем образовании</a></li>
                            <li><a href="">Диплом о высшем образовании</a></li>
                            <li><a href="">Диплом о высшем образовании</a><img src="../img/Arrow-next.svg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-content-middle">
                                {% include '../simple/simple.twig' %}
{#                <div class="title-left">#}
{#                    Лидеры продаж#}
{#                </div>#}
                <div class="main-content-middle-container">

{#                    <div class="main-content-middle-wrap">#}
                                                {% include './otziv.twig' %}

{#                    </div>#}
                </div>

            </div>
            <div class="main-content-right">
                <div class="main-content-filter main-content-filter-href">
                    <div class="main-content-filter__top  main-content-filter__top_open">
                        <div>Высшее образование</div>
                        <div class="main-content-filter__top-img">
                            <img src="../img/arrow-down.svg" alt="">
                            <img src="../img/arrow-up.svg" alt="">
                        </div>

                    </div>
                    <div class="main-content-filter__top-list main-content-filter__top-list_show">
                        <ul>
                            <div class="main-content-filter__top-list-content">
                                <img src="../img/imgvideo.png" alt="">
                            </div>
                            <li><a href="">Все видео</a><img src="../img/Arrow-next.svg" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="main-content-filter ">
                    <div class="main-content-filter__top  main-content-filter__top_open">
                        <div>Задать вопрос</div>
                        <div class="main-content-filter__top-img">
                            <img src="../img/arrow-down.svg" alt="">
                            <img src="../img/arrow-up.svg" alt="">
                        </div>

                    </div>
                    <div class="main-content-filter__top-list main-content-filter__top-list_show">
                        <form action="" class="form-seach">
                            <input type="text" id="name" placeholder="Ваше имя">
                            <input type="email" id="email" placeholder="Ваш e-mail">
                            <textarea name="comment" id="comment" placeholder="Ваш вопрос..." ></textarea>
                            <input type="submit" value="НАЙТИ">
                        </form>
                    </div>
                </div>
                <div class="main-content-filter">
                    <div class="main-content-filter__top ">
                        <div>Высшее образование</div>
                        <div class="main-content-filter__top-img">
                            <img src="../img/arrow-down.svg" alt="">
                            <img src="../img/arrow-up.svg" alt="">
                        </div>

                    </div>
                    <div class="main-content-filter__top-list ">
                        <ul>
                            <li><a href="">Диплом о высшем образовании</a></li>
                            <li><a href="">Диплом о высшем образовании</a></li>
                            <li><a href="">Диплом о высшем образовании</a></li>
                            <li><a href="">Диплом о высшем образовании</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main-content-filter main-content-filter-href">
                    <div class="main-content-filter__top  main-content-filter__top_open">
                        <div>Высшее образование</div>
                        <div class="main-content-filter__top-img">
                            <img src="../img/arrow-down.svg" alt="">
                            <img src="../img/arrow-up.svg" alt="">
                        </div>

                    </div>
                    <div class="main-content-filter__top-list main-content-filter__top-list_show">
                        <ul>
                            <li><a href="">Диплом о высшем образовании</a></li>
                            <li><a href="">Диплом о высшем образовании</a></li>
                            <li><a href="">Диплом о высшем образовании</a></li>
                            <li><a href="">Диплом о высшем образовании</a><img src="../img/Arrow-next.svg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
