<div class="otziv">
{#    <div class="title-left">#}
{#        Отзывы клиентов#}
{#    </div>#}
    <div class="otziv-wrap">
        {% include '../simple/simple.twig' %}

        {% include '../forms/form-rewiews.twig' %}
        <div class="rewiews-simple">


                <div class="rewiews-simple__blocks ">

                        <div class="rewiews-simple__block ">
                            <div class="rewiews-simple__block-top">
                                <div>Алексей Сергеевич</div>
                                <div>20 декабря 2023</div>
                            </div>
                            <div class="rewiews-simple__block-stars">
                                12345
                            </div>
                            <div class="rewiews-simple__block-bottom">
                                <div class="rewiews-simple__block-text">Мой диплом давно пылился дома у родителей, но я редко приезжал
                                    к ним. И когда обнаружил документ,
                                    то ужаснулся – он испортился и был в плачевном состоянии. Выхода другого не было, кроме как
                                    заказывать документ
                                    в специальной компании. Обратился на этот сайт. Сделали все оперативно и за приемлемую цену.
                                </div>
                            </div>
                        </div>
                    <div class="rewiews-simple__block rewiews-admin">
                        <div class="rewiews-simple__block-top">
                            <div>Администратор</div>
                            <div>20 декабря 2023</div>
                        </div>
                        <div class="rewiews-simple__block-stars rewiews-simple__block-img">
                            <img src="../img/shliapa2.svg" alt="">
                        </div>
                        <div class="rewiews-simple__block-bottom">
                            <div class="rewiews-simple__block-text">Мой диплом давно пылился дома у родителей, но я редко приезжал
                                к ним. И когда обнаружил документ,
                                то ужаснулся – он испортился и был в плачевном состоянии. Выхода другого не было, кроме как
                                заказывать документ
                                в специальной компании. Обратился на этот сайт. Сделали все оперативно и за приемлемую цену.
                            </div>
                        </div>
                    </div>
                        <div class="rewiews-simple__block ">
                            <div class="rewiews-simple__block-top">
                                <div>Алексей Сергеевич</div>
                                <div>20 декабря 2023</div>
                            </div>
                            <div class="rewiews-simple__block-stars">
                                12345
                            </div>
                            <div class="rewiews-simple__block-bottom">
                                <div class="rewiews-simple__block-text">Мой диплом давно пылился дома у родителей, но я редко приезжал
                                    к ним. И когда обнаружил документ,
                                    то ужаснулся – он испортился и был в плачевном состоянии. Выхода другого не было, кроме как
                                    заказывать документ
                                    в специальной компании. Обратился на этот сайт. Сделали все оперативно и за приемлемую цену.
                                </div>
                            </div>
                        </div>
                        <div class="rewiews-simple__block ">
                            <div class="rewiews-simple__block-top">
                                <div>Алексей Сергеевич</div>
                                <div>20 декабря 2023</div>
                            </div>
                            <div class="rewiews-simple__block-stars">
                                12345
                            </div>
                            <div class="rewiews-simple__block-bottom">
                                <div class="rewiews-simple__block-text">Мой диплом давно пылился дома у родителей, но я редко приезжал
                                    к ним. И когда обнаружил документ,
                                    то ужаснулся – он испортился и был в плачевном состоянии. Выхода другого не было, кроме как
                                    заказывать документ
                                    в специальной компании. Обратился на этот сайт. Сделали все оперативно и за приемлемую цену.
                                </div>
                            </div>
                        </div>
                        <div class="rewiews-simple__block ">
                            <div class="rewiews-simple__block-top">
                                <div>Алексей Сергеевич</div>
                                <div>20 декабря 2023</div>
                            </div>
                            <div class="rewiews-simple__block-stars">
                                12345
                            </div>
                            <div class="rewiews-simple__block-bottom">
                                <div class="rewiews-simple__block-text">Мой диплом давно пылился дома у родителей, но я редко приезжал
                                    к ним. И когда обнаружил документ,
                                    то ужаснулся – он испортился и был в плачевном состоянии. Выхода другого не было, кроме как
                                    заказывать документ
                                    в специальной компании. Обратился на этот сайт. Сделали все оперативно и за приемлемую цену.
                                </div>
                            </div>
                        </div>
{#                    <div class="swiperrewiews-simple-buttons">#}
{#                        <div class="swiperrewiews-simple-button-prev"><img src="../img/back.svg" alt=""></div>#}
{#                        <div class="swiperrewiews-simple-button-next"><img src="../img/next.svg" alt=""></div>#}
{#                    </div>#}
                </div>
                <div class="rewiews-simple-href">
                    <a href="">ВСЕ ОТЗЫВЫ</a>
                </div>
            </div>

    </div>
</div>
