<div class="good">
    <div class="good-wrap">
        <div class="good-title">
            Диплом специалиста 2014-2023 года (Киржач)
        </div>
        <div class="good-img">
            <img src="../img/goodimg.png" alt="">
        </div>
        <div class="good-link">
            <img src="../img/../img/playvideo.svg" alt=""><a href="">СМОТРЕТЬ ВИДЕО </a>
        </div>
        <div class="good-subtitle">
            Настоящий полный ГОЗНАК
        </div>
        <div class="good-price">
            20 000 ₽
        </div>
        <div class="good-buttons">
            <div class="good-buttons__buy btn-standart">
                КУПИТЬ
            </div>
            <div class=" btn-standart good-buttons__buy-onclick">
                КУПИТЬ В 1 КЛИК
            </div>

        </div>
    </div>
</div>