<div class="good">
    <div class="good-wrap">
        <div class="good-title">
            <div class="good-title__have">
                В наличии
            </div>
            <div class="good-title__serdce">
                <img src="../img/serdce.svg" alt="">
            </div>

        </div>
        <div class="good-img">
            <img src="../img/good1.png" alt="">
        </div>

        <div class="good-subtitle">
            Названеи товара пример
            текста в 2 строчки
        </div>
        <div class="good-price">
            <div class="good-price-main">
                500 ₽
            </div>
            <div class="good-price-discount">
                300 ₽
            </div>

        </div>
        <div class="good-buttons">
            <div class="good-buttons__buy btn-opacity">
                Подробнее
            </div>
            <div class="  good-buttons__buy-onclick btn-green">
                В корзину
            </div>

        </div>
    </div>
</div>