.main-content{
  @include container();
  @include padding-vertical-30();
}
.main-content-blocks{
  display: flex;
  gap: 2rem;
  .main-content-left,.main-content-right{
    width: calc(25% - 2rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .main-content-middle{
    width: calc(50% - 1rem) ;
    .main-content-middle-container{
      display: flex;
      justify-content: center;
      .main-content-middle-wrap{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;

      }
    }

  }
}

.main-content-filter{
  display: flex;
  flex-direction: column;

  .main-content-filter__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 6px 6px 0 0;
    background-color: $color-green-doc;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    color: white;
    img:first-child{
      display: block;
    }
    img:last-child{
      display: none;
    }
  }
  .main-content-filter__top-list{
    display: none;
    padding: 0 20px;
    ul{
      padding-left: 0;
      //margin-left: 40px;
      li{
        position: relative;
        color:$color-green-doc;
        border-bottom: 1px solid $color-white-underline;
        padding: 10px 0;
        &::marker{
          position: absolute;
          left: 40px!important;
        }

        a{
          padding-left: 20px;
          text-decoration: none;
          color: black;
        }
      }
      li:last-child{
        border-bottom: none;
      }
    }
  }
  // псевдо классы
  .main-content-filter__top-list_show{
    display: block;
  }
  .main-content-filter__top-list-content{
    padding-top: 20px;
  }
  .main-content-filter__top_open{
    .main-content-filter__top-img{
      img:first-child{
        display: none;
      }
      img:last-child{
        display: block;
      }
    }
  }

}


// псевдо классы

.main-content-filter-href{
  .main-content-filter__top-list{
    ul{
      li:last-child{
        border: none;
        list-style-type: none;
        &::marker{
          display: none!important;
          opacity: 0;
        }
        a{
          padding-left: 0;
          color: $color-green-doc;
          padding-right: 10px;
        }

      }
    }
  }
}
.form-seach{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 20px 0;
  input{
    height: 50px;
    padding: 0 10px;
    border: 1px solid $color-white-underline;
    border-radius: 5px;
  }
  textarea{
    height: 120px;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid $color-white-underline;
  }
  input[type='submit']{
    border: 1px solid $color-green-doc;
    background-color: white;
    color: $color-green-doc;
  }

}

@import './good';