<div class="main-content">

    <div class="main-content-wrap">
        <div class="main-content-blocks">

            <div class="main-content-middle">
                <div class="arrange-title">
                    Уличные гирлянды
                </div>
                <div class="main-content-middle-container">



                    <div class="goodslaidering">
                        <div class="swiper-wrapper">
                            <div class="goodslaidering__block swiper-slide">
                                {% include './good.twig' %}
                            </div>
                            <div class="swiperslaidering__block swiper-slide">
                                {% include './good.twig' %}
                            </div>
                            <div class="swiperslaidering__block swiper-slide">
                                {% include './good.twig' %}
                            </div>
                            <div class="swiperslaidering__block swiper-slide">
                                {% include './good.twig' %}
                            </div>
                            <div class="swiperslaidering__block swiper-slide">
                                {% include './good.twig' %}
                            </div>
                            <div class="swiperslaidering__block swiper-slide">
                                {% include './good.twig' %}
                            </div>
                            <div class="swiperslaidering__block swiper-slide">
                                {% include './good.twig' %}
                            </div>
                        </div>
                        <div class="swipergood-pagination">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>