.main-content {
  @include container();
  @include padding-vertical-30();
}
.main-content-blocks {
  display: flex;
  gap: 2rem;
  .main-content-middle {
    width: 100%;
    .main-content-middle-container {
      .goodslaidering{
        overflow: hidden;
        .swipergood-pagination{
          display: flex;
          justify-content: center;
          margin: 20px 0;
          gap: 0.3rem;
          .swiper-pagination-bullet{

            background-color: #EDEDED;
            width: 13px;
            height: 13px;
            margin: 0 3px;
            border-radius: 10px;
            cursor: pointer;
          }
          .swiper-pagination-bullet-active{
            background-color: #1B825A;
          }
        }
      }
      .main-content-middle-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }
    }
  }
}

@media #{$mobile-only-two} {


}

@import './good';
