.rewiews{
  background-color: $color-white-fone;
  .rewiews-wrap{
    @include container();
    @include padding-vertical-30();
    position: relative;
  }

  .rewiews__blocks{
    overflow: hidden;
    .swiperrewiews-buttons{
      display: flex;
      position: absolute;
      gap: 1rem;
      right: 0;
      top: 50px;
      .swiperrewiews-button-prev{
        width: 50px;
      }
      .swiperrewiews-button-next{
        width: 50px;
      }
    }
    .rewiews__block{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      background-color: white;
      padding: 30px 30px 50px 30px;
      border-radius: 10px;
      .rewiews__block-top{
        display: flex;
        justify-content: space-between;
        div:first-child{
          font-weight: 500;
        }
        div:last-child{
          color:$color-white-blednii;
        }
      }
      .rewiews__block-bottom{
        .rewiews__block-title{
          font-size: 20xp;
          font-weight: 500;
          margin-bottom: 15px;
        }
      }
    }
  }
  .rewiews-href{
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }
  .rewiews-href a{
    font-size: 16px;
    color: $color-green-doc;
  }
}

@media #{$mobile-only-two} {
  .rewiews {
    .rewiews__blocks {
      .swiperrewiews-buttons {
        display: none;
      }
    }
  }
}