<div class="rewiews">

    <div class="rewiews-wrap">
        <div class="title-left">
            Отзывы наших клиентов
        </div>
        <div class="rewiews__blocks swiperrewiews">
            <div class="swiper-wrapper">
                <div class="rewiews__block swiper-slide">
                    <div class="rewiews__block-top">
                        <div>Алексей Сергеевич</div>
                        <div>20 декабря 2023</div>
                    </div>
                    <div class="rewiews__block-stars">
                        12345
                    </div>
                    <div class="rewiews__block-bottom">
                        <div class="rewiews__block-title">Оформление трудовой книжки стало для меня сюрпризом!</div>
                        <div class="rewiews__block-text">Мой диплом давно пылился дома у родителей, но я редко приезжал
                            к ним. И когда обнаружил документ,
                            то ужаснулся – он испортился и был в плачевном состоянии. Выхода другого не было, кроме как
                            заказывать документ
                            в специальной компании. Обратился на этот сайт. Сделали все оперативно и за приемлемую цену.
                        </div>
                    </div>
                </div>
                <div class="rewiews__block swiper-slide">
                    <div class="rewiews__block-top">
                        <div>Алексей Сергеевич</div>
                        <div>20 декабря 2023</div>
                    </div>
                    <div class="rewiews__block-stars">
                        12345
                    </div>
                    <div class="rewiews__block-bottom">
                        <div class="rewiews__block-title">Оформление трудовой книжки стало для меня сюрпризом!</div>
                        <div class="rewiews__block-text">Мой диплом давно пылился дома у родителей, но я редко приезжал
                            к ним. И когда обнаружил документ,
                            то ужаснулся – он испортился и был в плачевном состоянии. Выхода другого не было, кроме как
                            заказывать документ
                            в специальной компании. Обратился на этот сайт. Сделали все оперативно и за приемлемую цену.
                        </div>
                    </div>
                </div>
                <div class="rewiews__block swiper-slide">
                    <div class="rewiews__block-top">
                        <div>Алексей Сергеевич</div>
                        <div>20 декабря 2023</div>
                    </div>
                    <div class="rewiews__block-stars">
                        12345
                    </div>
                    <div class="rewiews__block-bottom">
                        <div class="rewiews__block-title">Оформление трудовой книжки стало для меня сюрпризом!</div>
                        <div class="rewiews__block-text">Мой диплом давно пылился дома у родителей, но я редко приезжал
                            к ним. И когда обнаружил документ,
                            то ужаснулся – он испортился и был в плачевном состоянии. Выхода другого не было, кроме как
                            заказывать документ
                            в специальной компании. Обратился на этот сайт. Сделали все оперативно и за приемлемую цену.
                        </div>
                    </div>
                </div>
                <div class="rewiews__block swiper-slide">
                    <div class="rewiews__block-top">
                        <div>Алексей Сергеевич</div>
                        <div>20 декабря 2023</div>
                    </div>
                    <div class="rewiews__block-stars">
                        12345
                    </div>
                    <div class="rewiews__block-bottom">
                        <div class="rewiews__block-title">Оформление трудовой книжки стало для меня сюрпризом!</div>
                        <div class="rewiews__block-text">Мой диплом давно пылился дома у родителей, но я редко приезжал
                            к ним. И когда обнаружил документ,
                            то ужаснулся – он испортился и был в плачевном состоянии. Выхода другого не было, кроме как
                            заказывать документ
                            в специальной компании. Обратился на этот сайт. Сделали все оперативно и за приемлемую цену.
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiperrewiews-buttons">
                <div class="swiperrewiews-button-prev"><img src="../img/back.svg" alt=""></div>
                <div class="swiperrewiews-button-next"><img src="../img/next.svg" alt=""></div>
            </div>
        </div>
        <div class="rewiews-href">
            <a href="">ВСЕ ОТЗЫВЫ</a>
        </div>
    </div>

</div>