
.contact {

  .contant-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #888888;
  }
  .contact-form{
    margin: 50px 0;


  form {

    display: flex;
    flex-direction: column;
    gap: 2rem;
    label{
      margin-bottom: 5px;
    }
    .contact-form-top {
      display: flex;
      gap: 2rem;

      input {
        height: 60px;
        padding: 20px;
        background-color: $color-white-fone;
        border: none;
        border-radius: 5px;
      }

      .item {
        flex: 1 1 calc(50% - 2rem);
        display: flex;
        flex-direction: column;
      }

      label {
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;

      }
    }

    .contact-form-middle {
      textarea {
        height: 150px;
        padding: 20px;
        background-color: $color-white-fone;
        border: none;
        border-radius: 5px;
        color: $color-white-blednii;
      }

      .item {
        display: flex;
        flex-direction: column;
      }

      label {
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;

      }
    }

    .contact-form-bottom {
      .item {
        display: flex;
        justify-content: center;
      }
    }
  }
  }
}

@media #{$mobile-only-two} {
  .contact {

    .contant-text {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      color: #888888;
    }
    .contact-form {
      margin: 50px 0;


      form {

        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 5px;
        }

        .contact-form-top {
          display: flex;
          flex-direction: column;
          .item{
            width: 100%;
          }
        }
        .contact-form-bottom{
          .btn-standart{
            width: 100%;
          }
        }
      }
    }
        }
}
