<div class="contact">
    <div class="contact-wrap">
        <div class="title-left">
            Контакты
        </div>
        <div class="contact-mig">
            <img src="../img/Карта.png" alt="">
        </div>
        <div class="title-middle">
            У Вас есть вопросы?
        </div>
        <div class="contant-text">
            Заполните простую форму и наши менеджеры максимально оперативно с Вами свяжутся.
        </div>
        <div class="contact-form">
            <form action="">
                <div class="contact-form-top">
                    <div class="item">
                        <label for="">Ваше имя</label>
                        <input type="text" id="name" placeholder="Например, Александр">
                    </div>
                    <div class="item">
                        <label for="">Электронная почта</label>
                        <input type="email" id="mail" placeholder="example@gmail.com">
                    </div>
                </div>
                <div class="contact-form-middle">
                    <div class="item">
                        <label for="comment">Ваш вопрос</label>
                        <textarea name="comment" id="comment" >Задайте свой вопрос...</textarea>
                    </div>
                </div>
                <div class="contact-form-bottom">
                    <div class="item">
                        <input class="btn-standart" type="submit" value="ОТПРАВИТЬ">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
