<div class="steps">
    <div class="arrange-title">Этапы работы</div>
    <div class="steps-wrap">
        <div class="steps__block">
            <div class="steps__block-number">01</div>
            <div class="steps__block-title">Этап работы</div>
            <div class="steps__block-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </div>
        </div>
        <div class="steps__block">
            <div class="steps__block-number">01</div>
            <div class="steps__block-title">Этап работы</div>
            <div class="steps__block-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </div>
        </div>
        <div class="steps__block">
            <div class="steps__block-number">01</div>
            <div class="steps__block-title">Этап работы</div>
            <div class="steps__block-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </div>
        </div>
        <div class="steps__block">
            <div class="steps__block-number">01</div>
            <div class="steps__block-title">Этап работы</div>
            <div class="steps__block-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </div>
        </div>
    </div>
</div>