<div class="tarifs">
    <h2>Тарифы</h2>
    <div class="tarifs-wrap">
        <div class="tarifs__blocks">
            <div class="tarifs__block">
                <div class="tarifs__block-top">
                    <h5>Название тарифа</h5>
                </div>
                <div class="tarifs__block-middle">
                    <ul>
                        <li>Что входит в тариф</li>
                        <li>Что входит в тариф</li>
                        <li>Что входит в тариф</li>
                        <li>Что входит в тариф</li>
                        <li>Что входит в тариф</li>
                        <li>Что входит в тариф</li>
                    </ul>
                </div>
                <div class="tarifs__block-bottom">
                    <span>99 999 руб</span>
                    <div class="tarifs__block-botton middle__button">
                        <a href="">отправить заявку</a>
                    </div>
                </div>
            </div>
            <div class="tarifs__block">
                <div class="tarifs__block-top">
                    <h5>Название тарифа</h5>
                </div>
                <div class="tarifs__block-middle">
                    <ul>
                        <li>Что входит в тариф</li>
                        <li>Что входит в тариф</li>
                        <li>Что входит в тариф</li>
                        <li>Что входит в тариф</li>
                        <li>Что входит в тариф</li>
                        <li>Что входит в тариф</li>
                    </ul>
                </div>
                <div class="tarifs__block-bottom">
                    <span>99 999 руб</span>
                    <div class="tarifs__block-botton middle__button">
                        <a href="">отправить заявку</a>
                    </div>
                </div>
            </div>
            <div class="tarifs__block">
                <div class="tarifs__block-top">
                    <h5>Название тарифа</h5>
                </div>
                <div class="tarifs__block-middle">
                    <ul>
                        <li>Что входит в тариф</li>
                        <li>Что входит в тариф</li>
                        <li>Что входит в тариф</li>
                        <li>Что входит в тариф</li>
                        <li>Что входит в тариф</li>
                        <li>Что входит в тариф</li>
                    </ul>
                </div>
                <div class="tarifs__block-bottom">
                    <span>99 999 руб</span>
                    <div class="tarifs__block-botton middle__button">
                        <a href="">отправить заявку</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>