<div class="slidecompany">
    <h2>Большой опыт работы с разными представителями бизнеса</h2>
    <p>Мы работали как с мини-селлерами, так и с известными представителями российского рынка.</p>
    <p> Мы помогаем каждому клиенту независимо от товарной ниши, ассортимента, цен и прочего.</p>

    <div class="swipercompany">
        <div class="swiper-wrapper">
{#            <?php while (have_rows('swipesl')) : the_row(); ?>#}
            <div class="swiper-slide"><img src="../img/650_fda.jpg" alt=""></div>
            <div class="swiper-slide"><img src="../img/650_fda.jpg" alt=""></div>
            <div class="swiper-slide"><img src="../img/650_fda.jpg" alt=""></div>
            <div class="swiper-slide"><img src="../img/650_fda.jpg" alt=""></div>
            <div class="swiper-slide"><img src="../img/650_fda.jpg" alt=""></div>
{#            <?php endwhile; ?>#}
        </div>


    </div>
    <div class="swipercompany2">
        <div class="swiper-wrapper">
            <div class="swiper-slide" ><img src="../img/650_fda.jpg" alt=""></div>
            <div class="swiper-slide" ><img src="../img/650_fda.jpg" alt=""></div>
            <div class="swiper-slide" ><img src="../img/650_fda.jpg" alt=""></div>
            <div class="swiper-slide" ><img src="../img/650_fda.jpg" alt=""></div>
            <div class="swiper-slide" ><img src="../img/650_fda.jpg" alt=""></div>
            <div class="swiper-slide" ><img src="../img/650_fda.jpg" alt=""></div>

        </div>

    </div>

</div>