<div class="header">

    <div class="header-middle">
        <div class="header-middle__logo">
            <img src="../img/logotip.svg" alt="">
        </div>
        <div class="header-middle__adress">
            <img src="../img/geo.svg" alt="">
            <div>
            г. Пример, ул. Карла <br> Маркса, д. 12 офис 5
            </div>
        </div>


        <div class="header-middle__contact">
            <img src="../img/email.svg" alt="">
            <div>
                <a>sales@gmail.com</a>
                <span> Написать нам</span>
            </div>

        </div>
        <div class="header-middle__contact">
            <img src="../img/telephone-cal.svg" alt="">
            <div>
                <a>+7 905 007 90 09</a>
                <span>пн-пт с 11:00 до 17:00</span>
            </div>

        </div>
{#        <div class="header-menu">#}
{#            <div class="top-menu-wrapper">#}
{#                <div class="uMenuH">#}
{#                    <ul class="">#}
{#                        <li><a href="parikmaxers">О компании</a></li>#}
{#                        <li><a href="remont-kofemashin">Цены</a></li>#}
{#                        <li><a href="remont-i-obsluzhivanie-kondiczionerov"> Доставка и оплата</a></li>#}
{#                        <li><a href="nogtevoy-service">Вопросы и ответы</a></li>#}
{#                        <li><a href="narashivanie-nogtey">Отзывы</a></li>#}
{#                        <li><a href="mexendi">Контакты</a></li>#}
{#                    </ul>#}
{#                    <div class="cleaner"></div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="header-contacts-end">
            <div class="header-middle__social">
                <img src="../img/whatsapp.svg" alt="">
            </div>
            <div class="header-middle__ordercall">
                Заказать звонок
            </div>
        </div>


    </div>
    <div class="header-menu-under">
        <div class="top-menu-wrapper">
            <div class="uMenuH">
                <ul class="">
                    <li><a href="parikmaxers">Главная</a></li>
                    <li><a href="remont-kofemashin">Праздничная иллюминация </a></li>
                    <li><a href="remont-i-obsluzhivanie-kondiczionerov">Ландшафтное освещение</a></li>
                    <li><a href="nogtevoy-service">Архитектурная</a></li>
                    <li>
                        <div class="header-search">
                            <input type="search" placeholder="Что нужно найти ?">
                            <div class="header-search-img">
                                <img src="../img/search-interface-symbol.svg" alt="">
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="cleaner"></div>
            </div>
        </div>
    </div>
    <div class="mobile-menu">

        <div class="mobile-menu-wrapper">
            <div class="mobile-menu-top">
                <div class="header-middle__logo">
                    <img src="../img/logo.svg" alt="">
                </div>
                <div class="mobile-menu-close">
                    <img src="../img/close-rotate.svg" alt="">
                </div>
            </div>
            <div class="mobile-menu-middle">
                <div class="uMenuH-mobile">
                    <ul class="">
                        <li><a href="parikmaxers">О компании</a></li>
                        <li><a href="remont-kofemashin">Цены</a></li>
                        <li><a href="remont-i-obsluzhivanie-kondiczionerov"> Доставка и оплата</a></li>
                        <li><a href="nogtevoy-service">Вопросы и ответы</a></li>
                        <li><a href="narashivanie-nogtey">Отзывы</a></li>
                        <li><a href="mexendi">Контакты</a></li>
                    </ul>
                </div>
                <div class="mobile-menu-free-number">
                    <div>Бесплатный номер</div>
                    <a href="">8 (800) 350-91-29</a>
                </div>
                <div class="mobile-menu-email">
                    <div>Пишите нам</div>
                    <a href="">original.diploms2000@gmail.com</a>
                </div>

                <div class="header-middle__social">
                    <img src="../img/whatsapp.svg" alt="">
                    <img class="tg" src="../img/Telegram_logo 1.svg" alt="">
                </div>
            </div>
            <div class="btn-standart  btn-standart-show">Заказать документ</div>
        </div>

    </div>
    <div class="header-burger">
        <img src="../img/icon_burger.svg" alt="">
    </div>


</div>




