<div class="create">

    <div class="arrange-title">Создаем декоративное освещение</div>
    <div class="create-wrap">
                <div class="create__block">
                    <img src="../img/cre1.svg" alt="">
                    <div class="create__block-text">Архитектурная подсветка
                    </div>
                </div>
        <div class="create__block">
            <img src="../img/cre1.svg" alt="">
            <div class="create__block-text">Архитектурная подсветка
            </div>
        </div>
        <div class="create__block">
            <img src="../img/cre1.svg" alt="">
            <div class="create__block-text">Архитектурная подсветка
            </div>
        </div>
    </div>
</div>