.footer{
  padding-bottom: 10px!important;

  @include padding-vertical-30();
  .footer-wrap{
    @include container();
    display: flex;
    width: 100%;
    justify-content: space-between;
    .footer__elem-top{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo{
        height: 50px;
        width: 200px;
      }
      .footer-menu ul{
        display: flex;
        text-decoration: none;
        padding-left: 0;
        li{
          list-style-type: none;
          padding:0 20px;
        }
      }
      .btn-standart{
        background-color: #1B825A;
      }
    }

  }
  .footer__elem-bottom{
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #E4E4E4;
    text-align: center;
  }
}