<div class="footer">
    <div class="footer-wrap">
        <div class="footer__elem footer__elem-first">
            <div class="logo">
                <img src="../img/logo.svg" alt="">
            </div>
            <div class="footer__elem-text">
                Если купить диплом откроется ряд новых, перспективных возможностей.
                Плюс, вы экономите крупную сумму и несколько лет жизни. Больше не придется защищать выпускные или курсовые работы.
                Сможете потратить время на повышение своей квалификации и пополнение необходимых для вашей профессии знаний.
                С экономической точки зрения,
                стоимость документа купленного у нас, намного ниже чем оплата одного семестра обучения в университете.
            </div>
            <div class="footer__elem-submit">
                <div class="footer__elem-submit-send btn-standart">Заказать документ</div>
            </div>
            <div class="footer__elem-right">
                ©2014-2023 год. Все права защищены.
            </div>

        </div>
        <div class="footer__elem">
            <div class="footer-menu">
                <ul>
                    <li>Информация</li>
                    <li>О компании</li>
                    <li>Цены</li>
                    <li>Доставка и оплата</li>
                    <li>Вопросы и ответы</li>
                    <li>Видео</li>
                    <li>Отзывы</li>
                    <li>Контакты</li>
                </ul>
            </div>
        </div>
        <div class="footer__elem">
            <div class="footer-contact">
                <ul>
                    <li>Контакты</li>
                    <li>WhatsApp/Telegram
                        <a href="">+7 (916) 777-34-97</a>
                    </li>
                    <li>Бесплатный номер
                        <a href="">8 (800) 350-91-29</a>
                    </li>
                    <li>Пишите нам
                        <div>original.diploms2000@gmail.com</div>
                    </li>
                    <li>Наш адрес
                        <div>129090, Москва, ул Дурова 36</div>
                    </li>
                </ul>
                <div class="footer-contact-hideblock">
                    <div class="footer-contact__social">
                        <img src="../img/whatsapp.svg" alt="">
                        <img class="tg" src="../img/Telegram_logo 1.svg" alt="">
                    </div>
                    <div class="footer__elem-submit">
                        <div class="footer__elem-submit-send btn-standart">Заказать документ</div>
                    </div>
                    <div class="footer__elem-right">
                        ©2014-2023 год. Все права защищены.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
