<div class="footer">
    <div class="footer-wrap">
        <div class="footer__elem footer__elem-top">
            <div class="logo">
                <img src="../img/logotip.svg" alt="">
            </div>
            <div class="footer__elem">
                <div class="footer-menu">
                    <ul>
                        <li>Главная</li>
                        <li>Праздничная иллюминация</li>
                        <li>Ландшафтное освещение</li>
                        <li>Архитектурная</li>
                    </ul>
                </div>
            </div>
            <div class="footer__elem-submit">
                <div class="footer__elem-submit-send btn-standart">Заказать документ</div>
            </div>
        </div>
    </div>
    <div class="footer__elem-bottom">
        ©2014-2023 год. Все права защищены.
    </div>
</div>
