<div class="questions">
    <h2>Как мы помогаем расти бизнесам на Wildberries?</h2>
    <div class="questions-wrap">
        <div class="questions__block">
            <div class="questions__block-top ">
               <div>Сопровождение бизнеса</div>
                <i>1</i>
                <i>2</i>
            </div>
            <div class="questions__block-content">
                <ul>
                    <li>Сопровождение бизнеса</li>
                    <li>Сопровождение бизнеса</li>
                    <li>Сопровождение бизнеса</li>
                    <li>Сопровождение бизнеса</li>
                    <li>Сопровождение бизнеса</li>
                    <li>Сопровождение бизнеса</li>

                </ul>
            </div>
        </div>
        <div class="questions__block">
            <div class="questions__block-top ">
                <div>Сопровождение бизнеса</div><i>1</i><i>2</i>
            </div>
            <div class="questions__block-content">
                <ul>
                    <li>Сопровождение бизнеса</li>
                    <li>Сопровождение бизнеса</li>
                    <li>Сопровождение бизнеса</li>
                    <li>Сопровождение бизнеса</li>
                    <li>Сопровождение бизнеса</li>
                    <li>Сопровождение бизнеса</li>

                </ul>
            </div>
        </div>
        <div class="questions__block">
            <div class="questions__block-top ">
                <div>Сопровождение бизнеса</div><i>1</i><i>2</i>
            </div>
            <div class="questions__block-content">
                <ul>
                    <li>Сопровождение бизнеса</li>
                    <li>Сопровождение бизнеса</li>
                    <li>Сопровождение бизнеса</li>
                    <li>Сопровождение бизнеса</li>
                    <li>Сопровождение бизнеса</li>
                    <li>Сопровождение бизнеса</li>

                </ul>
            </div>
        </div>


    </div>
</div>