<div class="questions">
    <div class="questions-main">
        <div class="questions-main-title title-left">Вопросы и ответы</div>
        <div class="questions-main-title questions-main-title-right">
            Здесь вы найдете ответы на самые популярные вопросы.
            Также рекомендуем посетить раздел с вопросами от наших клиентов на нашем сайте.
        </div>
    </div>

    <div class="questions-wrap">
        <div class="questions-blocks">
            <div class="questions__block">
                <div class="questions__block-top ">
                    <div>Как заказать диплом или аттестат?</div>
                    <i class=" question-close"><img src="../img/close.svg" alt=""></i>
                    <i><img src="../img/close.svg" alt=""></i>
                </div>
                <div class="questions__block-content">
                    Выберите необходимый Вам диплом или сертификат. Затем заполните соответствующую форму и отправьте ее
                    нам. Наши менеджеры свяжутся с Вами и расскажут как дальше будет проходить изготовление диплома,
                    оплата и его передача заказчику.
                </div>
            </div>
            <div class="questions__block">
                <div class="questions__block-top ">
                    <div>Как заказать диплом или аттестат?</div>
                    <i class=" question-close"><img src="../img/close.svg" alt=""></i>
                    <i><img src="../img/close.svg" alt=""></i>
                </div>
                <div class="questions__block-content">
                    Выберите необходимый Вам диплом или сертификат. Затем заполните соответствующую форму и отправьте ее
                    нам. Наши менеджеры свяжутся с Вами и расскажут как дальше будет проходить изготовление диплома,
                    оплата и его передача заказчику.
                </div>
            </div>
            <div class="questions__block">
                <div class="questions__block-top ">
                    <div>Как заказать диплом или аттестат?</div>
                    <i class=" question-close"><img src="../img/close.svg" alt=""></i>
                    <i><img src="../img/close.svg" alt=""></i>
                </div>
                <div class="questions__block-content">
                    Выберите необходимый Вам диплом или сертификат. Затем заполните соответствующую форму и отправьте ее
                    нам. Наши менеджеры свяжутся с Вами и расскажут как дальше будет проходить изготовление диплома,
                    оплата и его передача заказчику.
                </div>
            </div>
            <div class="questions__block">
                <div class="questions__block-top ">
                    <div>Как заказать диплом или аттестат?</div>
                    <i class=" question-close"><img src="../img/close.svg" alt=""></i>
                    <i><img src="../img/close.svg" alt=""></i>
                </div>
                <div class="questions__block-content">
                    Выберите необходимый Вам диплом или сертификат. Затем заполните соответствующую форму и отправьте ее
                    нам. Наши менеджеры свяжутся с Вами и расскажут как дальше будет проходить изготовление диплома,
                    оплата и его передача заказчику.
                </div>
            </div>


        </div>
        <div class="questions-subtitle">
            <img src="../img/girl-think.png" alt="">
        </div>


    </div>
</div>