.questions{
  @include container();
  @include padding-vertical-30();
  .questions-main{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    .questions-main-title{
      width: calc(50% - 5rem);
    }
    .questions-main-title-right{
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      margin: auto 0;
    }


  }
  .questions-wrap{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    .questions-subtitle{
      text-align: center;
      width: calc(50% - 2rem);
    }
    .questions-blocks {
      width: calc(50% - 2rem);
    }
    }
  .questions-blocks{

    display: flex;
    flex-direction: column;
    gap: 2rem;
    .questions__block{
      width: 100%;
      box-shadow: 0px 4px 0px 0px #EEEEEE;
      border-radius: 10px;

      .question-close{
        transform: rotate(45deg);
      }

      .questions__block-top{
        display: flex;
        justify-content: space-between;
        padding: 20px 30px;
        border-radius: 15px ;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        text-align: left;
        cursor: pointer;
        i:nth-child(2){
          display: none;
        }
        i{
          width: 26px;
          height: 26px;
        }


      }
      .questions__block-top_active{
        border-radius: 15px 15px 0 0;
        transition: all 5s ease;
        i:nth-child(2){
          display: block;
        }
        i:nth-child(3){
          display: none;
        }

      }
      .questions__block-content{
        width: 90%;
        display: none;
        padding: 20px 30px;
        border-radius:  0 0 15px 15px;
        font-family: Gilroy;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;

      }

    }
  }
}

//@media #{$tablet-all-only} {
//  .questions {
//
//    .questions-blocks {
//      display: flex;
//      flex-wrap: wrap;
//      gap: 1rem;
//
//      .questions__block {
//        flex: calc((100% / 2) - 2rem);
//        max-width: calc((100% / 2) - 1rem);
//      }
//    }
//  }
//}

@media #{$mobile-only-two} {
  .questions {
    .questions-subtitle{
      display: none;
    }
    .questions-wrap{
      margin-top: 20px;
      .questions-blocks{

        width: 100%;
        .questions__block-top {
          i{
            width: 18px;
            height: 18px;
            img{
              width: 100%;
            }
          }
        }
        }
    }

    .questions-main {
      display: flex;
      flex-wrap: wrap;
      gap: 0rem;
      .questions-main-title {
        width: 100%;
      }
      .questions-main-title-right {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin: auto 0;
      }
    }
  }
}