<div class="photo">

    <div class="photo-wrap">
        <div class="photo__block">
            <div class="arrange-title-left">Выслать фото вашего дома</div>
            <div class="photo__block-title">
                И мы создадим свето - дизайн будущего!
            </div>
            <div class="photo__block-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="banner-button">
                <img src="../img/whatsapp.svg" alt=""><span>Написать нам в WhatsApp</span>
            </div>
        </div>
        <div class="photo__block">
            <div class="photo__block-img">
                <img src="../img/phonefoto.svg" alt="">
            </div>

        </div>

    </div>
</div>