<div class="feelit">
    <div class="feelit-wrap">
        <div class="feelit-top">
            <div class="feelit-top__cont">
                <div class="feelit-top__title">
                    <h2>Ощутите результаты уже в первую неделю сотрудничества</h2>
                </div>
                <div class="feelit-top__text">
                    <p>Мы изменим ваше представление о Wildberries и поможем вашему бизнесу вырасти</p>
                </div>
            </div>

            <div class="feelit-top__img">
                <img src="../img/entrepreneurs-plan-t.jpg" alt="">
            </div>
        </div>
        <div class="feelit-blocks">
            <div class="feelit-block">
                <div class="feelit-block__number">
                    1
                </div>
                <div class="feelit-block__title">
                    Глубокий анализ товара

                </div>
                    <div class="feelit-block__text">
                        1Выявление потенциала продаж, зон роста, анализ конкурентов, понимание особенностей товара. Расчет юнит-экономики, оптимизация расходов.
                    </div>
            </div>
            <div class="feelit-block">
                <div class="feelit-block__number">
                    2
                </div>
                <div class="feelit-block__title">
                    Глубокий анализ товара

                </div>
                <div class="feelit-block__text">
                    1Выявление потенциала продаж, зон роста, анализ конкурентов, понимание особенностей товара. Расчет юнит-экономики, оптимизация расходов.
                </div>
            </div>
            <div class="feelit-block">
                <div class="feelit-block__number">
                    3
                </div>
                <div class="feelit-block__title">
                    Глубокий анализ товара

                </div>
                <div class="feelit-block__text">
                    1Выявление потенциала продаж, зон роста, анализ конкурентов, понимание особенностей товара. Расчет юнит-экономики, оптимизация расходов.
                </div>
            </div>
            <div class="feelit-block">
                <div class="feelit-block__number">
                    4
                </div>
                <div class="feelit-block__title">
                    Глубокий анализ товара

                </div>
                <div class="feelit-block__text">
                    1Выявление потенциала продаж, зон роста, анализ конкурентов, понимание особенностей товара. Расчет юнит-экономики, оптимизация расходов.
                </div>
            </div>
        </div>
    </div>

</div>