.feelit{

  @include container();
  @include padding-vertical-30();
  .feelit-top{
    display: flex;
    .feelit-top__cont{
      padding-top: 50px;
      width: 50%;
      display: flex;
      flex-direction: column;
      .feelit-top__title{
        h2{
          font-size: 42px;
          line-height: 80px;
        }

      }

    }
    .feelit-top__img{
      width: 50%;
      img{
        width: 100%;
      }
    }
  }
  .feelit-blocks{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    .feelit-block{
      position: relative;
      padding-top: 50px;
      .feelit-block__number{
        position: absolute;
        font-size: 120px;
        width: 100%;
        text-align: center;
        opacity: 0.1;
        font-weight: 900;
      }
      .feelit-block__title{
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 40px;
      }
      flex: 1 1 calc((100% / 3) - 3rem);
      max-width: calc((100% / 3) - 3rem);
    }
  }

}
@media #{$tablet-all-only} {
  .feelit {


    .feelit-top {
      flex-wrap: wrap;
      .feelit-top__cont {
        text-align: center;
        width: 100%;
      }
      .feelit-top__img {
        display: flex;
        justify-content: center;
        width: 100%;
        img{
          width: 70%;
        }
      }
    }
    .feelit-blocks{
      gap: 1rem;
      justify-content: center;
      .feelit-block{
        flex: 1 1 calc((100% / 2) - 2rem);
        max-width: calc((100% / 2) - 2rem);
      }
    }
  }
}
@media #{$mobile-only-two} {
  .feelit {


    .feelit-top {
      flex-wrap: wrap;
      .feelit-top__cont {
        text-align: center;
        width: 100%;
        .feelit-top__title{
          h2{
            //font-size: 42px;
            line-height: 40px;
          }

        }
      }
      .feelit-top__img {
        display: flex;
        justify-content: center;
        width: 100%;
        img{
          width: 70%;
        }
      }
    }
    .feelit-blocks{
      gap: 1rem;
      justify-content: center;
      .feelit-block{
        flex: 1 1 calc((100% / 2) - 2rem);
        max-width: calc((100% / 2) - 2rem);
      }
    }
  }
}