<div class="prices">
    <div class="prices-wrap">
        <table>
            <thead>
            <tr>
                <th>Образец</th>
                <th>Документ</th>
                <th>Настоящий гознак</th>
                <th>Заказать</th>

            </tr>
            </thead>
        </table>
        <div class="prices-tables">
            <div>Дипломы ВУЗа (о высшем образовании) - Специалист</div>
            <div class="prices-tables__arrows">
                <img src="../img/arrow-down.svg" alt="">
                <img src="../img/arrow-up.svg" alt="">
            </div>
        </div>
        <table class="">
{#            <tbody>#}
            <tr>
                <td>
                    <div class="price-img">
                        <img src="../img/goodimg.png" alt="">
                    </div>
                </td>
                <td>
                    <div class="price-title">
                        <div class="">Диплом специалиста 2014-2023 года (Киржач)</div>
                    </div>
                    <div class="price-playvideo">
                        <img src="../img/../img/playvideo.svg" alt=""><a href="">СМОТРЕТЬ ВИДЕО </a>
                    </div>
                </td>
                <td>
                    <div class="good-price">20 000 руб.</div>
                </td>
                <td>
                    <div class=" btn-standart">
                        КУПИТЬ
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="price-img">
                        <img src="../img/goodimg.png" alt="">
                    </div>
                </td>
                <td>
                    <div class="price-title">
                        <div class="">Диплом специалиста 2014-2023 года (Киржач)</div>
                    </div>
                    <div class="price-playvideo">
                        <img src="../img/../img/playvideo.svg" alt=""><a href="">СМОТРЕТЬ ВИДЕО </a>
                    </div>
                </td>
                <td>
                    <div class="good-price">20 000 руб.</div>
                </td>
                <td>
                    <div class=" btn-standart">
                        КУПИТЬ
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="price-img">
                        <img src="../img/goodimg.png" alt="">
                    </div>
                </td>
                <td>
                    <div class="price-title">
                        <div class="">Диплом специалиста 2014-2023 года (Киржач)</div>
                    </div>
                    <div class="price-playvideo">
                        <img src="../img/../img/playvideo.svg" alt=""><a href="">СМОТРЕТЬ ВИДЕО </a>
                    </div>
                </td>
                <td>
                    <div class="good-price">20 000 руб.</div>
                </td>
                <td>
                    <div class=" btn-standart">
                        КУПИТЬ
                    </div>
                </td>

            </tr>
{#            </tbody>#}
        </table>
        <div class="prices-tables">
            <div>Дипломы ВУЗа (о высшем образовании) - Специалист</div>
            <div class="prices-tables__arrows">
                <img src="../img/arrow-down.svg" alt="">
                <img src="../img/arrow-up.svg" alt="">
            </div>
        </div>
        <table class="">
            {#            <tbody>#}
            <tr>
                <td>
                    <div class="price-img">
                        <img src="../img/goodimg.png" alt="">
                    </div>
                </td>
                <td>
                    <div class="price-title">
                        <div class="">Диплом специалиста 2014-2023 года (Киржач)</div>
                    </div>
                    <div class="price-playvideo">
                        <img src="../img/../img/playvideo.svg" alt=""><a href="">СМОТРЕТЬ ВИДЕО </a>
                    </div>
                </td>
                <td>
                    <div class="good-price">20 000 руб.</div>
                </td>
                <td>
                    <div class=" btn-standart">
                        КУПИТЬ
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="price-img">
                        <img src="../img/goodimg.png" alt="">
                    </div>
                </td>
                <td>
                    <div class="price-title">
                        <div class="">Диплом специалиста 2014-2023 года (Киржач)</div>
                    </div>
                    <div class="price-playvideo">
                        <img src="../img/../img/playvideo.svg" alt=""><a href="">СМОТРЕТЬ ВИДЕО </a>
                    </div>
                </td>
                <td>
                    <div class="good-price">20 000 руб.</div>
                </td>
                <td>
                    <div class=" btn-standart">
                        КУПИТЬ
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="price-img">
                        <img src="../img/goodimg.png" alt="">
                    </div>
                </td>
                <td>
                    <div class="price-title">
                        <div class="">Диплом специалиста 2014-2023 года (Киржач)</div>
                    </div>
                    <div class="price-playvideo">
                        <img src="../img/../img/playvideo.svg" alt=""><a href="">СМОТРЕТЬ ВИДЕО </a>
                    </div>
                </td>
                <td>
                    <div class="good-price">20 000 руб.</div>
                </td>
                <td>
                    <div class=" btn-standart">
                        КУПИТЬ
                    </div>
                </td>

            </tr>
            {#            </tbody>#}
        </table>
    </div>
</div>
