.prices{
  .prices-wrap{
    .prices-tables{
      display: flex;
      margin-top: 10px;
      padding:10px 20px;
      border-radius: 5px;
      align-items: center;
      justify-content: space-between;
      background-color: $color-green-order;
    }
    table{
      margin: 10px 0;
      width: 100%;
      border-spacing: 0 20px ;
      display: none;

    }
    .prices-tables__arrows{
      img:nth-child(2){
        display: none;
      }
      img:nth-child(1){
        display: block;
      }
    }
    .prices-tables_active{
      display: block;
    }
    .prices-tables-arrow_active{
      .prices-tables__arrows{
        img:nth-child(2){
          display: block;
        }
        img:nth-child(1){
          display: none;
        }
      }
    }
    tbody{
      width: 100%;
      display: flex;
      flex-direction: column;


      .price-img{
        width: 114px;
        img{
          width: 100%;
        }
      }
      .price-title{
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
      }
      .price-playvideo{
        display: flex;
        gap: 1rem;
        a{
          color:$color-green-doc ;
          text-decoration: none;
        }
      }
      .good-price{
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
      }
      .btn-standart{
        background-color: white;
        color: $color-green-doc;
        border:1px solid $color-green-doc;
        width: 134px;
        height: 40px;
      }
      tr {
        width: 100%;
        margin-bottom: 10px;
        border-bottom: 1px solid $color-white-underline;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        td {
          //padding: 0 5px;
        }

        td:nth-child(2) {
          max-width: 250px;
        }

        td:nth-child(4) {
          text-align: end;
        }
      }
    }

  }
}
@media #{$tablet-all-only} {
  .main-content-blocks {
    display: flex;
    gap: 2rem;
    .main-content-left, .main-content-right {
      display: none;
    }
    .main-content-middle {
      width: 100%;


    }

  }

}
