<div class="consult">
    <div class="consult-wrap">
        <div class="consult-blocks">
            <form action="">
                <div class="item">
                    <label for="name">Ваше имя</label>
                    <input id="name" type="text" placeholder="Например,Александр">
                </div>
                <div class="item">
                    <label for="tel">Ваше имя</label>
                    <input id="phone" type="tel" placeholder="+7 (_ _ _) _ _ _ - _ _ - _ _">
                </div>
                <div class="item">
                    <label for="message">Сообщение/Вопрос</label>
                    <input id="message" type="text" placeholder="Текст сообщения...">
                </div>
                <div class="item item-submit">
                    <input type="submit" value="ОТПРАВИТЬ">
                </div>

            </form>
            <div class="consult-blocks__block">
                <div class="consult-blocks__block-title">ПОЛУЧИТЬ <br> КОНСУЛЬТАЦИЮ</div>
                <div class="consult-blocks__block-middle">
                    <div class="consult-blocks__block-middle-title">
                        Отправьте заявку и мы оперативно Вам перезвоним!
                    </div>
                    <div class="consult-blocks__block-middle-text">
                        Заполните простую форму и наши менеджеры
                        максимально оперативно с Вами свяжутся.
                        Ответим на все интересующие Вас вопросы и в случае необходимости посоветуем
                        оптимальное учебное заведение
                    </div>

                    <div class="consult-blocks__block-socials">
                        <div>Напишите в мессенджеры:</div>
                        <div class="consult-blocks__block-social">
                            <img src="../img/telegramF.svg" alt="">
                            <img src="../img/whatsappF.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>