body {
  font-size: $font-primary-size;
  font-family: $font-primary-family;
  line-height: $line-height;
  color: $color-text-main;
  background-color: $color-white;
  min-width: 320px;
  display: flex;
  flex-direction: column;

}


//span {
//  line-height: 14px;
//  font-size: 1.2rem;
//  @media #{$tablet-all-only} {
//    font-size: 1.3rem;
//  }
//  @media #{$desktop-all-only} {
//    font-size: 1.4rem;
//  }
//  @media #{$fullhd} {
//    font-size: 2.4em;
//    line-height: 30px;
//
//  }
//
//}
p{
  line-height: 14px;
  font-size: 1em;
  @media #{$tablet-all-only} {
    font-size: 1.2em;
    line-height: 16px;

  }
  @media #{$desktop-all-only} {
    font-size: 1.2em;
    line-height: 18px;

  }
  @media #{$fullhd} {
    font-size: 2em;
    line-height: 30px;

  }
}
h1 {
  text-align: start;
  font-size: 2.6rem;
  color: #1C1230;
  line-height: 1.25em;
  font-weight: $font-primary-bold;
  width: 100% !important;

  @media #{$tablet} {
    font-size: 3rem;
  }

  @media #{$tablet-landscape} {
    font-size: 3rem;
  }

  @media #{$desktop} {
    font-size: 4rem;
  }

  @media #{$desktop-wide} {
    font-size: 4rem;
  }

  @media #{$fullhd} {
    font-size: 4.0rem;
  }

  @media #{$ultra} {
    font-size: 4.4rem;
  }
}



h2 {
  margin: 1rem 0;
  font-size: 1.4rem;
  line-height: 1.3em;
  color: #1C1230;
  font-weight: $font-primary-bold;

  @media #{$tablet} {
    font-size: 2rem;
  }

  @media #{$tablet-landscape} {
    font-size: 2rem;
  }

  @media #{$desktop} {
    font-size: 2rem;
  }

  @media #{$desktop-wide} {
    font-size: 2rem;
  }

  @media #{$fullhd} {
    font-size: 2rem;
  }

  @media #{$ultra} {
    font-size: 2rem;
  }
}

h3{

  font-size: 1.6rem;
  color: #1C1230;


  line-height: 1.25em;
  //font-weight: $font-primary-bold;
  width: 100% !important;

  @media #{$tablet-all-only} {
    font-size: 1.8rem;
  }

  @media #{$desktop-all-only} {
    font-size: 1.8rem;

  }
  @media #{$fullhd} {
    font-size: 1.8rem;

  }
}
h4{
  font-size: 1.2rem;

  //padding: 0 column(1);
  //color: $color-button-blue;
  line-height: 1.25em;
  font-weight: $font-primary-bold;
  width: 100% !important;

  @media #{$tablet-all-only} {
    font-size: 22px;
  }

  @media #{$desktop-all-only} {
    font-size: 24px;
  }
  @media #{$fullhd} {
    font-size: 36px;
    line-height: 39px;

  }
}

h5{
  font-size: 1.2rem;

  //padding: 0 column(1);
  //color: $color-button-blue;
  line-height: 1.25em;
  font-weight: $font-primary-bold;
  width: 100% !important;

  @media #{$tablet-all-only} {
    font-size: 26px;
  }

  @media #{$desktop-all-only} {
    font-size: 28px;
  }
  @media #{$fullhd} {
    font-size: 32px;
    line-height: 30px;

  }
}
h5{
  font-size: 1.2rem;

  //padding: 0 column(1);
  //color: $color-button-blue;
  line-height: 1.25em;
  font-weight: $font-primary-bold;
  width: 100% !important;

  @media #{$tablet-all-only} {
    font-size: 18px;
  }

  @media #{$desktop-all-only} {
    font-size: 22px;
  }
  @media #{$fullhd} {
    font-size: 24px;
    line-height: 30px;

  }
}
.btn-standart{
  width: 210px;
  height: 50px;
  border-radius: 5px;
  background-color: $color-green-doc;
  color: $color-white-doc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.btn-blue{
  padding:15px 28px ;
  color: white;
  background: linear-gradient(to right, #0FD4FF, #052996);
  border-radius: 50px;
  border: none;
}
.btn-pink{
  padding:15px 28px ;
  color: white;
  background: linear-gradient(to right, #A59EF4, #F6638F);
  border-radius: 50px;
  border: none;
}
.middle__button{
  padding: 12px 30px;
  background-color: #ea285e;
  border-radius: 25px;
  color: white;
  a{
    color: white;
    text-decoration: none;
  }
}

.left-border-text{
  margin-left: 20px;
  padding: 20px 0 20px 20px;
  border-left: 5px solid black;
}
.middle__button:hover{
  background-color:$color-green-act ;
}



.title-middle{
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  padding: 30px 0;
  position: relative;
  margin-bottom: 30px;
  &:after{
    content: "";
    width: 70px;
    height: 1px;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 35px);
    background-color: #61C67E;
  }
  &:before{
    content: "";
    width: 50px;
    height: 1px;
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: calc(50% - 25px);
    background-color: #61C67E;
  }
}
.title-left{
  text-align: left;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  padding: 30px 0;
  position: relative;
  margin-bottom: 30px;
  color: #222222;
  &:after{
    content: "";
    width: 70px;
    height: 1px;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: #61C67E;
  }
  &:before{
    content: "";
    width: 35px;
    height: 1px;
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: #61C67E;
  }
}
.arrange-title-left{
  text-align: left;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  padding:  0 0 30px 0;
  position: relative;
  margin-bottom: 30px;
  &:after{
    content: "";
    width: 111px;
    height: 4px;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: #61C67E;
  }
  @media #{$mobile-only-two} {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.71px;
    text-align: left;

  }
}
.arrange-title{
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  padding: 30px 0;
  position: relative;
  margin-bottom: 30px;
  &:after{
    content: "";
    width: 111px;
    height: 4px;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 55px);
    background-color: #61C67E;
  }
  @media #{$mobile-only-two} {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.71px;
    text-align: left;

  }
}
.btn-opacity{
  width: 120px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #B6B6B6;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;

}
.btn-green{
  width: 120px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #1B825A;
  color: white;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.77px;
  text-align: left;

}


.banner-button{
  width: 275px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 5px ;
  background-color: #1B825A;
  color: #FFFFFF;
  .span{
    font-size: 13px;
    font-weight: 700;
    line-height: 17.68px;
    text-align: center;
  }
}