<div class="swiperourwork-container">
    <div class=" swiperourwork">
        <div class="swiper-wrapper">
            <div class="swiperourwork__block swiper-slide">
                <div class="swiperourwork__block-img">
                    <img src="../img/ourwork1.png" alt="">
                </div>
            </div>
            <div class="swiperourwork__block swiper-slide">
                <div class="swiperourwork__block-img">
                    <img src="../img/ourwork2.png" alt="">
                </div>
            </div>
            <div class="swiperourwork__block swiper-slide">
                <div class="swiperourwork__block-img">
                    <img src="../img/ourwork1.png" alt="">
                </div>
            </div>
            <div class="swiperourwork__block swiper-slide">
                <div class="swiperourwork__block-img">
                    <img src="../img/ourwork2.png" alt="">
                </div>
            </div>
        </div>
        <div class="swiperourwork-pagination">

        </div>
    </div>
</div>