.banner{
  position: relative;
  //background: linear-gradient(90deg, rgba(7, 31, 22, 0.98) 0%, rgba(7, 31, 22, 0.58) 44.79%, rgba(7, 31, 22, 0) 100%);
  .banner-top-img{
    width: 100%;
  }

  .banner-wrap{
    display: flex;
    @include container();
    .banner-container{
      z-index: 300;
      position: absolute;
      display: flex;

      justify-content: center;
      flex-direction: column;
      gap: 2rem;
      width: 50%;
      height: 100%;
      color: white;
      top: 0;
      .banner-main{
        font-size: 48px;
        font-weight: 700;
        line-height: 59.42px;
        text-align: left;

      }
      .banner-subtitle{
        font-size: 24px;
        font-weight: 600;
        line-height: 33.36px;
        display: flex;
        gap: 1rem;
        width: 60%;
      }
      .banner-text{
        width: 70%;
        font-size: 20px;
        font-weight: 400;
        line-height: 27.8px;
        text-align: left;

      }

    }
  }
}

@media #{$desktop-wide-only} {
  .banner {
    .banner-wrap {
      .banner-container {
        width: 70%;
        .banner-main {

        }
        .banner-subtitle {
          width: 80%;
        }
        .banner-text {
          width: 80%;
        }
      }
    }
  }
}
@media #{$tablet-all-only} {
  .banner {

    .banner-wrap {
      .banner-container {
        width: 100%;
        gap: 1rem;

        .banner-main {
          font-size: 24px;
          font-weight: 700;
          line-height: 29.71px;
          text-align: left;

        }
        .banner-text {
          width: 90%;
          font-size: 20px;
          font-weight: 400;
          line-height: 27.8px;
          text-align: left;

        }
        .banner-subtitle {
          img{
            width: 37px;
            height: 37px;
          }
          width: 80%;
          font-size: 16px;
          font-weight: 600;
          line-height: 22.24px;
          text-align: left;

        }

      }
    }
  }
}
@media #{$mobile-only-two} {
  .banner {
    .banner-top-img{
      width: 100%;
      height: 530px;
      img{
        height: 530px;
      }
    }
    .banner-wrap {
      .banner-container {
        width: 100%;
        gap: 1rem;

        .banner-main {
          font-size: 24px;
          font-weight: 700;
          line-height: 29.71px;
          text-align: left;
        }
        .banner-text {
          width: 90%;
          font-size: 20px;
          font-weight: 400;
          line-height: 27.8px;
          text-align: left;

        }
        .banner-subtitle {
          img{
            width: 37px;
            height: 37px;
          }
          width: 90%;
          font-size: 16px;
          font-weight: 600;
          line-height: 22.24px;
          text-align: left;

        }

      }
    }
  }
}
.banner-none {
  display: none;
  .banner-wrap {
    .banner-container {
      .banner-main{
        display: none;
      }
      position: relative;
      display: none;
    }
  }
}

