<div class="banner">
    <img class="banner-top-img" src="../img/bannermain.png" alt="">
    <div class="banner-wrap">
        <div class="banner-container">
            <div class="banner-main">
                Архитектурное, Ландшафтное освещение. Гирлянды
            </div>
            <div class="banner-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
            </div>
            <div class="banner-subtitle">
                <img src="../img/bannerimg.svg" alt="">Вышли фото своего дома в вотсап и мы сделаем бесплатный дизайн
            </div>
            <div class="banner-button">
                <img src="../img/whatsapp.svg" alt=""><span>Написать нам в WhatsApp</span>
            </div>
        </div>

    </div>
</div>